{% extends "admin_common.html" %}
{% from 'helpers.html' import formerrors %}
{% block scripts %}
  <script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}" ></script>
{% endblock %}

{% block page %}
<div class="centered">
  <a href="{{ url_for('demosurvey') }}"> Take Demographic Survey </a>
</div>

<form id="admintestingform" method="post">
    {{ formerrors(admin_testing_form) }}
    {{ admin_testing_form.hidden_tag() }}
  <div class=side>
    <div class=pgtitle>
      All Policies
    </div>
    <div class="account_list">
      {{ admin_testing_form.all_policies() }}
    </div>
    <div class="centered">
      <input id="add"
	     type="button"
	     onclick="submitForm('add')"
	     value="Add"/>
    </div>
  </div>

  <div class=side>
    <div class=pgtitle>
      Selected Policies
    </div>
    <div class="account_list">
      {{ admin_testing_form.selected_policies() }}
    </div>
    <div class="centered">
      <input id="remove"
	     value="Remove"
	     type="button"
	     onclick="submitForm('remove')"/>
    </div>
  </div>
</form>
	<div class="clear"> </div>
</div>

{% endblock %}

{% block endscripts %}
<script type="text/javascript">
 var add_url = "{{ url_for('admin_testing_setup', action='add') }}";
 var remove_url = "{{ url_for('admin_testing_setup', action='remove') }}";
 var submitForm = function(action){
   var the_url;
   if (action == "add"){
     the_url = add_url;
   }
   else {
     the_url = remove_url;
   }
   $("#admintestingform").attr("action", the_url);
   $("#admintestingform").submit();

 }
</script>


{% endblock %}
